#ifndef DEVICE_CREDS_H_
#define DEVICE_CREDS_H_

#define CONFIG_PORTAL_API_SECRET            "XXXXXXXX.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
#define CONFIG_NET_WIFI_SSID                "Wifi_SSID"
#define CONFIG_NET_WIFI_PASS                "Wifi_pass"

#define CONFIG_INTLCK_USER                  "user"
#define CONFIG_INTLCK_PASS                  "pass"

#endif /*DEVICE_CREDS_H_*/
